body {
  color: #40514e;
  margin: 0;
  font-family: "Merriweather", serif;
}

h1 {
  width: 60%;
  color: #66bfbf;
  font-size: 60px;
  display: inline-flex;
  position: absolute;
  top: 50px;
  left: 50px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  padding: 10px;
  margin-left: 50px;
}
.address {
  text-align: right;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.address h2 {
  font-size: 30px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  margin-left: 50px;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: auto 20px auto 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
.intro p {
  text-align: justify;
  padding: 0 200px 0 50px;
}
.top-container {
  background-color: #e4f9f5;
  position: relative;
  top: 0;
}
.middle-container {
  padding: 70px 0;
}
.edu {
  padding: 10px;
}
.edu p {
  padding-left: 50px;
}
p {
  line-height: 2;
}
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 8%;
  margin: 100px auto;
}
.java {
  width: 18%;
  float: left;
  margin-right: 70px;
}
.html {
  width: 14%;
  float: left;
  margin-right: 130px;
}
.css {
  width: 12%;
  float: left;
  margin-right: 150px;
  margin-left: 10px;
}
.skill-row {
  width: 100%;
  margin: 10px auto 120px 50px;
}
.skill-row li {
  text-align: left;
  line-height: 2;
}
.project p {
  text-align: justify;
  padding: 5px 100px 5px 50px;
}
.bottom-container {
  background-color: #42be61;
  padding: 20px 0 10px 0;
  text-align: center;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 5px 0;
}
.fas {
  padding-left: 10px;
}
