body {
  margin: 0;
  background-color: #fff3e4;
  position: relative;
  box-sizing: border-box;
}
header {
  background-color: #483434;
  width: 100%;
  position: fixed;
  top: 0;
}
h1 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  font-family: "Sacramento", cursive;
  padding-left: 10px;
}

form {
  background-color: #eed6c4;
  width: 80%;
  padding: 50px;
  margin-top: 100px;
  margin-left: 5%;
  margin-bottom: 5%;
  border-radius: 1%;
  text-align: center;
}
th,
td {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  text-align: center;
  width: 30%;
}
p {
  color: #000;
  font-size: 20px;
}
.button {
  position: absolute;
  right: 11%;
  width: 8%;
  padding: 5px 5px;
  cursor: pointer;
  background: #483434;
  border: 0;
  outline: none;
  border-radius: 30px;
  color: #fff;
  text-align: center;
}
button:hover {
  background-color: #6b4f4f;
  transition: 0.6s;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #6b4f4f;
  text-align: center;
  height: 10%;
}
small {
  color: #fff;
  position: relative;
  top: 40%;
}
input {
  background: none;
  outline: none;
  border: none;
  border-bottom: #483434 1px solid;
  width: 50%;
  text-align: center;
}
/* Images */
.lays {
  width: 30%;
}
.cocacola {
  width: 50%;
}
.chocolate1 {
  width: 20%;
}
.oreo {
  width: 35%;
}
.biscuits {
  width: 40%;
}
.chacobar {
  width: 12%;
}
.apple {
  width: 35%;
}
.Orange {
  width: 40%;
}
.cake {
  width: 35%;
}
.butter {
  width: 30%;
}
